@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

.textTop {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 2em;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
}

.carousel {
    height: 5em;
    width: 3em;
}
