.placeholder {
    background-image: url(img/sample.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginhero {
    height: auto;
    max-width: 250px;
}
